<div class="footer">
  <div class="footer-links">
    <%= link_to '<i class="fab fa-instagram"></i>'.html_safe, "#" %>
    <%= link_to '<i class="fab fa-facebook"></i>'.html_safe, "#" %>
    <%= link_to '<i class="fab fa-twitter"></i>'.html_safe, "#" %>
    <%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, "#" %>
  </div>
  <div class="footer-copyright">
    @Cocktails Inc
  </div>
</div>
